<div class="fondo">
  <button type="button" class="botonColoresVolver" (click)="volverColores()">←</button>
  <button type="button" id="botonColoresAnimales" class="botonColoresAnimales" (click)="cambiarTemaColores('animales')"></button>
  <button type="button" id="botonColoresNumeros" class="botonColoresNumeros" (click)="cambiarTemaColores('numeros')"></button>
  <button type="button" id="botonColoresColores" class="botonColoresColores" (click)="cambiarTemaColores('colores')"></button>
  <button type="button" id="botonColoresIngles" class="botonColoresIngles" (click)="cambiarIdiomaColores('ingles')"></button>
  <button type="button" id="botonColoresEspaniol" class="botonColoresEspaniol" (click)="cambiarIdiomaColores('espaniol')"></button>
  <button type="button" id="botonColoresPortugues" class="botonColoresPortugues" (click)="cambiarIdiomaColores('portugues')"></button>


  <button type="button" class="botonRojo" (click)="clickColores('rojo')"></button>
  <button type="button" class="botonGris" (click)="clickColores('gris')"></button>
  <button type="button" class="botonVerde" (click)="clickColores('verde')"></button>
  <button type="button" class="botonNaranja" (click)="clickColores('naranja')"></button>
  <button type="button" class="botonAzul" (click)="clickColores('azul')"></button>
  <button type="button" class="botonMorado" (click)="clickColores('morado')"></button>
</div>
<div class="loadingContainer3" id="loadingContainer3" hidden>
  <div class="loading">
    <img src="../../../assets/logoEmpresa.png">
  </div>
</div>