<div class="fondo">
  <button type="button" class="botonNumerosVolver" (click)="volverNumeros()">←</button>
  <button type="button" id="botonNumerosAnimales" class="botonNumerosAnimales" (click)="cambiarTemaNumeros('animales')"></button>
  <button type="button" id="botonNumerosColores" class="botonNumerosColores" (click)="cambiarTemaNumeros('colores')"></button>
  <button type="button" id="botonNumerosNumeros" class="botonNumerosNumeros" (click)="cambiarTemaNumeros('numeros')"></button>
  <button type="button" id="botonNumerosIngles" class="botonNumerosIngles" (click)="cambiarIdiomaNumeros('ingles')"></button>
  <button type="button" id="botonNumerosEspaniol" class="botonNumerosEspaniol" (click)="cambiarIdiomaNumeros('espaniol')"></button>
  <button type="button" id="botonNumerosPortugues" class="botonNumerosPortugues" (click)="cambiarIdiomaNumeros('portugues')"></button>


  <button type="button" class="botonUno" (click)="clickNumeros('uno')"></button>
  <button type="button" class="botonDos" (click)="clickNumeros('dos')"></button>
  <button type="button" class="botonTres" (click)="clickNumeros('tres')"></button>
  <button type="button" class="botonCuatro" (click)="clickNumeros('cuatro')"></button>
  <button type="button" class="botonCinco" (click)="clickNumeros('cinco')"></button>
  <button type="button" class="botonSeis" (click)="clickNumeros('seis')"></button>
</div>
<div class="loadingContainer5" id="loadingContainer5" hidden>
  <div class="loading">
    <img src="../../../assets/logoEmpresa.png">
  </div>
</div>