<div class="fondo">
  <button type="button" class="botonIngles" (click)="clickIngles()"></button>
  <button type="button" class="botonEspaniol" (click)="clickEspaniol()"></button>
  <button type="button" class="botonPortugues"(click)="clickPortugues()"></button>
  <button type="button" class="botonAnimales" (click)="clickAnimales()"></button>
  <button type="button" class="botonNumeros" (click)="clickNumeros()"></button>
  <button type="button" class="botonColores" (click)="clickColores()"></button>
  <button type="button" class="botonVolver" (click)="returnToLogin()">←</button>
  <button type="button" type="button" id="botonContinuar" class="botonContinuar" (click)="continue()" disabled>→</button>
</div>
<div class="loadingContainer2" id="loadingContainer2" hidden>
  <div class="loading">
    <img src="../../assets/logoEmpresa.png">
  </div>
</div>