<div class="fondo">
  <button type="button" class="botonAnimalesVolver" (click)="volverAnimales()">←</button>
  <button type="button" id="botonAnimalesColores" class="botonAnimalesColores" (click)="cambiarTemaAnimales('colores')"></button>
  <button type="button" id="botonAnimalesNumeros" class="botonAnimalesNumeros" (click)="cambiarTemaAnimales('numeros')"></button>
  <button type="button" id="botonAnimalesAnimales" class="botonAnimalesAnimales" (click)="cambiarTemaAnimales('animales')"></button>
  <button type="button" id="botonAnimalesIngles" class="botonAnimalesIngles" (click)="cambiarIdiomaAnimales('ingles')"></button>
  <button type="button" id="botonAnimalesEspaniol" class="botonAnimalesEspaniol" (click)="cambiarIdiomaAnimales('espaniol')"></button>
  <button type="button" id="botonAnimalesPortugues" class="botonAnimalesPortugues" (click)="cambiarIdiomaAnimales('portugues')"></button>


  <button type="button" class="botonBurro" (click)="clickAnimales('burro')"></button>
  <button type="button" class="botonCerdo" (click)="clickAnimales('cerdo')"></button>
  <button type="button" class="botonConejo" (click)="clickAnimales('conejo')"></button>
  <button type="button" class="botonGallo" (click)="clickAnimales('gallo')"></button>
  <button type="button" class="botonPato" (click)="clickAnimales('pato')"></button>
  <button type="button" class="botonVaca" (click)="clickAnimales('vaca')"></button>
</div>
<div class="loadingContainer4" id="loadingContainer4" hidden>
  <div class="loading">
    <img src="../../../assets/logoEmpresa.png">
  </div>
</div>